<h1>Mis Documentos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Icon</th>
      <th scope="col">Nombre</th>
      <th scope="col">Autor</th>
      <th scope="col">Etiquetas</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <img src="/assets/img/docx.png" alt="docx.ico">
      </th>
      <td>Mi Tesis</td>
      <td>CARLOS</td>
      <td>
        <p>
          <span class="label label-default">Fisica</span>
          <span class="label label-default">Trabajos</span>
          <span class="label label-default">Importante</span>
        </p>
      </td>
      <td>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </td>
      <td>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
    </tr>

    <tr>
        <th scope="row">
          <img src="/assets/img/excel.png" alt="excel.ico">
        </th>
        <td>Presupuesto 2019</td>
        <td>CARLOS</td>
        <td>
          <p>
            <span class="label label-default">Contabilidad</span>
            <span class="label label-default">Empresa</span>
            <span class="label label-default">Oficina</span>
          </p>
        </td>
        <td>
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
        <td>
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
      </tr>
  </tbody>
</table>